p {
  color: rgb(0, 68, 255);
  font-size: 20px;
}
h1 {
  color: rgb(87, 255, 85);
  background-color: rgb(50, 79, 109);
}
ul {
  color: rgb(255, 0, 0);
  background-color: rgb(77, 166, 255);
}
body {
  background-image: url('сылка на сайт url');
}
span {
  color: rgb(255, 0, 0);
}

.ppr {
  color: rgb(255, 0, 0);
}

.menu {
  list-style-type: none;
  padding: 30px;
  text-align: center;
  background-image: url(https://st2.depositphotos.com/2124221/46128/i/600/depositphotos_461289812-stock-photo-minimal-multicolored-polygonal-background.jpg);
  overflow: hidden;
}

.menu li {
  font: 35px Arial Black;
  float: left;
  margin-left: 220px;
}
.menu li a {
  text-decoration: none;
}

.menu li a:hover {
  color: red;
}

.send{
  
  width: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 210px;
    left: auto;
    color: #fff;
    background: red;
    min-height: 40px;
    padding-bottom: 4px;
    height: auto;
    padding-top: 2px;
}

.lod{
  padding: 50px;
}

.prob{
  list-style-type: none;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  
}

.kor{
  margin-left: 1250px;
  flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;

}


